.product-card{
    padding: 15px;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
}
.product-img{
    width: 100%;
}
.product-summary{
    padding-top: 30px;
}
.product-name{
    font-weight: 400;
    color: black;
    margin-bottom: 5px;
}
.product-price{
    color: #81D1E5;
}