.shop{
    /* padding-top: 136px; */
    z-index: -1;
}
.shop-page-content{
    display: flex;
    padding: 60px 5%;
}
.shop-content-holder{
    width: 75%;
    padding: 0 0 0 40px;
    background-color: #b0f2b0;
    float: right;
}