.header{
    background-color: rgb(190, 223, 236);
    position: fixed;
    width: 100%;
    z-index: 1;
}
/* .logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.inner-header{
    padding: 8px 40px;
    min-height: 1% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 980px) {
}