.dashed-background-container{
    display: inline-block;
    /* margin-left: 5px; */
    border-radius: 60px;
    /* width: 100%; */
}
.dashed-background-container:hover{
    background-color: #57c1db;
}
.dashed-background{
    /* width: 90%; */
    border-radius: 60px;
    padding: 15px 17px;
    display: block;
    outline: 2px dashed rgb(255, 255, 255);
    outline-offset: -5px;
    cursor: pointer;
}
.dashed-background:hover{
    background-color: #57c1db;
}
.btn-text{
    font-size:14px;
    color: white;
    font-weight: 700;
}

/* Sidebar Product Cards Styling */
.sidebar-headings{
    background-color: #81d1e5;
    /* width: 100%; */
    /* margin: 40px 0 30px 0; */
}
.sidebar-headings .btn-text{
    font-size: 18px;
}
.sidebar-headings .dashed-background{
    border-radius: 5px;
    cursor: context-menu;
}
.sidebar-headings .dashed-background:hover{
    background-color: #81d1e5;
} 