.sidebar-container{
    width: 25%;
    float: left;
    background-color: rgb(236, 227, 227);
    padding: 0 40px 0 0;
}
.sidebar-head{
    margin-bottom: 30px;
}
.product-parents .parent-list{
    list-style-type: none;
    padding: 8px 0;
    font-size: 14px;
    position: relative;
}
.count{
    font-size: 11px;
    color:#666;
    position: absolute;
    top: 5px;
    right: 8px;
    border-radius: 2em;
    border: 1px solid #f1f1f1;
    padding: 2px 8px;
}
.product-children .child-list{
    list-style-type: none;
    padding: 8px 0 8px 10px;
    position: relative;
}
.side-prod-cont{
    width: 100%;
}